&i2c0 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
	vcnl4040@60 {
		status = "okay";
		compatible = "vishay,vcnl4040";
		reg = <0x60>;
		led-current = <200>;
		led-duty-cycle = <320>;
	};
};

/* For node Configuration only */

// &pinctrl {
// 	uart0_default: uart0_default {
// 		group1 {
// 			psels = <NRF_PSEL(UART_TX, 0, 29)>, //6   for nrf52dk5832 / 5840
// 				<NRF_PSEL(UART_RX, 0, 28)>,   //8	  for nrf52dk5832
// 				<NRF_PSEL(UART_RTS, 0, 5)>,
// 				<NRF_PSEL(UART_CTS, 0, 7)>;
// 		};
// 	};

// 	uart0_sleep: uart0_sleep {
// 		group1 {
// 			psels = <NRF_PSEL(UART_TX, 0, 29)>,    //6
// 				<NRF_PSEL(UART_RX, 0, 28)>,        //8
// 				<NRF_PSEL(UART_RTS, 0, 5)>,
// 				<NRF_PSEL(UART_CTS, 0, 7)>;
// 			low-power-enable;
// 		};
// 	};
// 	i2c0_default: i2c0_default {
// 		group1 {
// 			psels = <NRF_PSEL(TWIM_SDA, 0, 2)>,  
// 				<NRF_PSEL(TWIM_SCL, 0, 3)>;      
// 		};
// 	};

// 	i2c0_sleep: i2c0_sleep {
// 		group1 {
// 			psels = <NRF_PSEL(TWIM_SDA, 0, 2)>,   
// 				<NRF_PSEL(TWIM_SCL, 0, 3)>;        
// 			low-power-enable;
// 		};
// 	};
// };

